<div class="left">
			
			<div class="category">
				<div class="ban l_a"><span class="f"><font style="font-size:16px;font-weight:bolder;">产品分类</font> <font style="font-weight:bold;color:#3b3b3b;">PRODUCT CATEGORY</font></span></div>
				<div class="clear"></div>
				<ul>
				<!--< yang: catlist typeid='2' >
					<li><img src="__PUBLIC__/images/sanj.png" /><a href="{ $catlist.url}">{$ catlist.name}</a></li>
				</ yang: catlist>-->
				</ul>
			</div>

			<div class="category contact">
				<div class="ban l_a"><span class="f"><font style="font-size:16px;font-weight:bolder;">联系我们</font> <font style="font-weight:bold;color:#3b3b3b;">ABOUT US</font></span></div>
				<div class="clear"></div>
				<div class="con">
					<div class="sbx">真诚为您服务</div>
					<table>
						<tr><td width="25%">联系人:</td><td>吃不饱</td></tr>
						<tr><td>电&nbsp;话:</td><td>3021362</td></tr>
						<tr><td>手&nbsp;机:</td><td>1393735606</td></tr>
						<tr><td>传&nbsp;真:</td><td>2678811</td></tr>
						<tr><td>地&nbsp;址:</td><td>西冀场工业园</td></tr>
					</table>
				</div>
			</div>
		</div>