.file {
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #d4e3ec;
    border-radius: 4px;
    overflow: hidden;
    line-height: 20px;
    background: url('../images/image.png') center no-repeat;
    width: 110px;
    height: 110px;
}
.file input {
    opacity: 0;
    width: 88px;
    height: 75px;
}
#images_area{
	float: left;
    margin-right: 5px;
}
.btn_up{
	position: relative;
	float: left;
   }
.picture_item{
	float: left;
	position: relative;
	margin-left: 5px;
}
.upload_success{
	position: absolute;
	top: 70px;
    left: 70px;
	width: 44px;
	height: 44px;
	background: url('../images/success.png') no-repeat;
}
.picture_del{
	position: absolute;
	width: 15px;
  top: 0px;
  left: 95px;
  color: #fff;
  height: 15px;
  cursor: pointer;
  background-size: 105px;
  background-position: -30px 0;
}
.tip{
	display: none;
	position: absolute;
    top: 43px;
    padding: 3px;
    left: 30px;
    width: 60px;
    min-height: 18px;
    background-color: rgba(139, 195, 74, 0.69);
    color: #fff;
    border-radius: 5px;
    text-align: center;
    line-height: 17px;
}
.index_picture{
	position: absolute;
    font-size: 12px;
    top: 45px;
    left: 25px;
	background-color: rgba(206, 64, 64, 0.75);
    color: #fff;
    text-align: center;
    line-height: 17px;
    width: 60px;
    height: 17px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
.picture_item:hover .index_picture{
	display: block;
}
/**分页**/
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #1B242F;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #E74C3C;
  background-color: none;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #1B242F;
  border-color: #1B242F;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #999;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}