{include file="public/header" /}
<div id="dcWrap">
    <div id="dcMain">
        <!-- 当前位置 -->
        <div id="urHere">管理中心<b>></b><strong>网站管理员</strong></div>
        <div id="manager" class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
            <h3><a href="{:url('admin/add')}" class="actionBtn">添加管理员</a>网站管理员</h3>
            <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
                <tr>
                    <th width="30" align="center">编号</th>
                    <th align="left">管理员名称</th>
                    <th align="center">E-mail地址</th>
                    <th align="center">是否锁定</th>
                    <th align="center">最后登录时间</th>
                    <th align="center">操作</th>
                </tr>
                {volist name="list" id="vo"}
                <tr>
                    <td align="center">{$vo.id}</td>
                    <td>{$vo.username}</td>
                    <td align="center">{$vo.email}</td>
                    <td align="center">{if condition="$vo['islock'] eq 1"}是{else}否{/if}</td>
                    <td align="center">{$vo.logintime|date='Y-m-d H:i:s',###}</td>
                    <td align="center"><a href="{:url('admin/edit',['id' => $vo.id])}">编辑</a> | <a
                            href="{:url('admin/dele',['id' => $vo.id])}" onclick="if(!confirm('确认删除该用户吗？')) return false;">删除</a></td>
                </tr>
                {/volist}
            </table>
        </div>
    </div>
    <div class="clear"></div>
    {include file="public/footer" /}
    <div class="clear"></div>
</div>
</body>
</html>