{include file="public/header" /}
<div id="dcWrap">
    <!--包含公共模版-->
    {include file="public/lefter" /}
    <div id="dcMain">
        <!-- 当前位置 -->
        <div id="urHere"><a href="{:url('index/index')}"> 管理中心</a><b>></b><strong>文章列表</strong></div>
        <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
            <h3><a href="{:url('article/add')}" class="actionBtn add">添加文章</a>文章列表</h3>

            <div class="filter">
                <form action="article.php" method="get">
                    <select name="cat_id" id="cat_id">
                        <option value="0">未分类</option>
                        {volist name="category" id="fcat"}
                        <option value="{$fcat.id}" {if condition="$id eq $fcat['id']" }selected{/if}> {$fcat.name}</option>
                        <!--二级分类-->
                        {if condition="isset($fcat.children)"}
                        {volist name="fcat['children']" id="scat"}
                        <option value="{$scat.id}" {if condition="$id eq $scat['id']" }selected{/if}>- {$scat.name}</option>
                        {/volist}
                        {/if}
                        {/volist}
                    </select>
                    <input name="keyword" type="text" class="inpMain" value="" size="20"/>
                    <input name="submit" class="btnGray" type="submit" value="筛选"/>
                </form>
        <span>
            <a class="btnGray" href="article.php?rec=sort">开始筛选首页文章</a>
        </span>
            </div>
            <div id="list">
                <form name="action" method="post" action="">
                    <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
                        <tr>
                            <th width="22" align="center"><input name='chkall' type='checkbox' id='chkall'
                                                                 onclick='selectcheckbox(this.form)' value='check'></th>
                            <th width="40" align="center">编号</th>
                            <th align="left">文章名称</th>
                            <th width="150" align="center">文章分类</th>
                            <th width="80" align="center">添加日期</th>
                            <th width="80" align="center">操作</th>
                        </tr>
                        {volist name="data" id="vo" empty="$empty"}
                        <tr>
                            <td align="center"><input type="checkbox" name="checkbox[]" value="{$vo.id}"/></td>
                            <td align="center">{$vo.id}</td>
                            <td><a href="">{$vo.title}</a></td>
                            <td align="center"><a href="{:url('article/index',['id' => $vo.cid])}">{$vo.name}</a></td>
                            <td align="center">{$vo.publishtime|date="Y-m-d",###}</td>
                            <td align="center">
                                <a href="{:url('article/edit',['id' => $vo.id])}">编辑</a> | <a
                                    onclick="if(!confirm('确定要删除该条记录吗？'))return false;"
                                    href="{:url('article/dele',['id' => $vo.id])}">删除</a>
                            </td>
                        </tr>
                        {/volist}
                    </table>
                    <div class="action">
                        <select name="action" onchange="douAction()">
                            <option value="0">请选择...</option>
                            <option value="del_all">删除</option>
                            <option value="category_move">移动分类至</option>
                        </select>
                        <select name="new_cat_id" style="display:none">
                            <option value="0">未分类</option>
                            {volist name="category" id="fcat"}
                            <option value="{$fcat.id}"> {$fcat.name}</option>
                            <!--二级分类-->
                            {if condition="isset($fcat.children)"}
                            {volist name="fcat['children']" id="scat"}
                            <option value="{$scat.id}">- {$scat.name}</option>
                            {/volist}
                            {/if}
                            {/volist}
                        </select>
                        <span class="btn execute">执行</span>
                    </div>
                </form>
            </div>
            <div class="clear"></div>
            <div class="pager">{$page}</div>
        </div>
    </div>
    <div class="clear"></div>
    {include file="public/footer" /}
    <div class="clear"></div>
</div>
<script type="text/javascript">
    function douAction() {
        var frm = document.forms['action'];
        frm.elements['new_cat_id'].style.display = frm.elements['action'].value == 'category_move' ? '' : 'none';
    }
    //选择分类展示列表
    $("#cat_id").change(function () {
        var id = $(this).val();
        window.location.href = "article/index?id=" + id;
    });
    //执行删除 移动分类
    $(".execute").click(function () {
        var action = $("select[name='action']").val();
        var $form = $(this).parents('form');
        if (action == 0) {
            alert('请先选择执行操作');
        } else if (action == 'del_all') {
            if (!confirm('确定要批量删除所选记录吗？'))return false;
            $form.attr('action', "{:url('article/dele')}");
            $form.submit();
        } else if (action == 'category_move') {
            if (!confirm('确定要改变所选记录的分类吗？'))return false;
            var id = $("select[name='new_cat_id']").val();
            if (id == 0) {
                alert('请选择分类');
                return false;
            }
            $form.attr('action', "{:url('article/moveCategory')}");
            $form.submit();
        }

    });
</script>
</body>
</html>
