{include file="public/header" /}
<script type="text/javascript">
    var upload_max = 1;
</script>
<div id="dcWrap">
    <div id="dcMain">
        <!-- 当前位置 -->
        <div id="urHere">管理中心<b>></b><strong>编辑大图</strong></div>
        <div id="manager" class="mainBox" style="height:auto!important;">
            
            <form>
                {:token()}
                <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
                    <tr>
                        <td width="100" align="right">图片标题</td>
                        <td>
                            <input type="text" name="title" value="{$item.title}" size="40" class="inpMain"/>
                        </td>
                    </tr>
                    <tr>
                        <!--上传图片-->
                        {include file="public/upload" tip="图片"}
                    </tr>
                    <tr>
                        <td align="right">url地址</td>
                        <td>
                            <input type="text" name="url" size="80" value="{$item.url}" class="inpMain" placeholder="请填写带协议头(http://)的完整url地址 提示：可不填" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="hidden" name="id" value="{$item.id}" />
                            <span class="btn">提 交</span>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div class="clear"></div>
    {include file="public/footer" /}
    <div class="clear"></div>
</div>
<script type="text/javascript">
    var art_pro_url = "{:url('banner/editDetail')}";//form表单要提交的地址

</script>
</body>
</html>