{include file="public/header" /}
<div id="dcWrap">
    <!--包含公共模版-->
    {include file="public/lefter" /}
    <div id="dcMain">
        <!-- 当前位置 -->
        <div id="urHere"> 管理中心<b>></b><strong>系统设置</strong></div>
        <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
            <h3>系统设置</h3>
            <!--{ js href="__PUBLIC__/js/jquery.tab.js" /}-->

            <div class="idTabs">
                <ul class="tab">
                    <li><a id="site" class="selected">常规设置</a></li>
                    <li><a id="display">显示设置</a></li>
                    <!-- <li><a id="defined">自定义</a></li> -->
                    <li><a id="email">邮件服务器</a></li>
                </ul>
                <div class="items">
                    <form>
                        {foreach name="slist" id="list" key="k"}
                        <div id="{$k}" {if condition="$k eq 'site'"}style="display:block"{else}style="display:none"{/if}>
                            <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
                                <tr>
                                    <th width="131">名称</th>
                                    <th align="left">内容</th>
                                </tr>
                                {volist name="$slist[$k]" id="vo"}
                                <!--判断输入框类型-->
                                {switch name="vo.tvalue"}
                                {case value="radio"}
                                <tr>
                                    <td align="right">{$vo.title}</td>
                                    <td>
                                    {switch name="vo.name"}
                                      {case value="site_editor"}
                                      <label for="{$vo.name}">
                                            <input type="radio" name="{$vo.name}" id="{$vo.name}" value="ue" {eq name="$vo.value" value="ue"}checked="true"{/eq}>
                                            富文本编辑器</label> &nbsp;&nbsp;
                                        <label for="{$vo.name}">
                                            <input type="radio" name="{$vo.name}" id="{$vo.name}" value="markdown" {eq name="$vo.value" value="markdown"}checked="true"{/eq}>
                                            Markdown编辑器</label>
                                      {/case}
                                      {default /}
                                        <label for="{$vo.name}">
                                            <input type="radio" name="{$vo.name}" id="{$vo.name}" value="0" {eq name="$vo.value" value="0"}checked="true"{/eq}>
                                            否</label>
                                        <label for="{$vo.name}">
                                            <input type="radio" name="{$vo.name}" id="{$vo.name}" value="1" {eq name="$vo.value" value="1"}checked="true"{/eq}>
                                            是</label>
                                    {/switch}
                                    {if condition="$vo['remark']"}<p class="cue">{$vo.remark}</p>{/if}
                                    </td>
                                </tr>
                                {/case}
                                {case value="select"}
                                <tr>
                                    <td align="right">{$vo.title}</td>
                                    <td>
                                        <select name="{$vo.name}" >
                                            {volist name="$vo.svalue" id='s'}
                                            <option value="{$s}" {if condition="$s eq $vo.value"}selected{/if}>{$s}</option>
                                            {/volist}
                                        </select>
                                    </td>
                                </tr>
                                {/case}
                                {default /}
                                <tr>
                                    <td align="right">{$vo.title}</td>
                                    <td>
                                        <input type="text" name="{$vo.name}" value="{$vo.value}" size="80"
                                               class="inpMain"/>
                                        {if condition="$vo['remark']"}<p class="cue">{$vo.remark}</p>{/if}
                                    </td>
                                </tr>
                                {/switch}
                                {/volist}
                            </table>
                        </div>
                        {/foreach}

                        <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
                            <tr>
                                <td width="131"></td>
                                <td>
                                    <span class="btn">提 交</span>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    {include file="public/footer" /}
    <div class="clear"></div>
</div>
<script type="text/javascript">
    $(".tab a").click(function(){
        var id = $(this).attr('id');
        $(".tab a").removeClass("selected");
        $(this).addClass("selected");
        $("div#" + id).show().siblings('div').hide();
    });

    var art_pro_url = "{:url('index/system')}";//form表单要提交的地址
</script>
</body>
</html>