{include file="public/header" /}
{css href="__PUBLIC__/css/public.css" /}
<body style="height: 100%;overflow: hidden;">
    <div class="head">
        <div id="head">
            <div class="logo"><a href="./" target="main" style="color: #fff;">后台管理</a></div>
            <div class="nav">
                <ul>
                    <li class="M"><a href="JavaScript:void(0);" class="topAdd">新建</a>
                        <div class="drop mTopad"><a href="{:url('product/add')}" target="main">商品</a> <a href="{:url('article/add')}" target="main">文章</a> <a href="{:url('nav/add')}" target="main">自定义导航</a> <!--<a href="../show.html">首页幻灯</a>--> <a href="{:url('page/add')}" target="main">单页面</a> <a href="{:url('admin/add')}" target="main">管理员</a> <a href="#"></a> </div>
                    </li>
                    <li><a href="{$web_site}" target="_blank">查看站点</a></li>
                    <li><a id="clear-cache" href="javascript:void(0);">清除缓存</a></li>
                    <li><a href="javascript:void(0);" target="_blank">帮助</a></li>
                    <li class="noRight"><a href="{:url('nav/add')}"> +</a></li>
                </ul>
                <ul class="navRight">
                    <li class="M noLeft"><a href="JavaScript:void(0);">您好，{$username}</a>
                        <div class="drop mUser">
                            <a href="{:url('admin/edit',['id' => $userid])}" target="main">编辑我的个人资料</a>
                            <a href="{:url('admin/add')}" target="main">添加账户</a>
                        </div>
                    </li>
                    <li class="noRight"><a href="{:url('login/logout')}">退出</a></li>
                </ul>
            </div>
        </div>
    </div><!-- dcHead 结束 -->
    <!--包含公共模版-->
    <div class="left">
        <div id="menu">
            <ul class="top">
                <li><a href="{:url('main/index')}" target="main"><i class="home"></i><em>管理首页</em></a></li>
            </ul>
            <ul>
                <li><a href="{:url('index/system')}" target="main"><i class="system" ></i><em>系统设置</em></a></li>
                <li><a href="{:url('nav/index')}" target="main"><i class="nav"></i><em>自定义导航栏</em></a></li>
                <!--<li><a href="javascript:void(0);"><i class="show" target="main"></i><em>首页幻灯广告</em></a></li>-->
                <li><a href="{:url('page/index')}" target="main"><i class="page"></i><em>单页面管理</em></a></li>
            </ul>
            <ul>
                <li><a style="color:blue">栏目管理</a></li>
                {volist name="all_nav" id="nav"}
                {switch name="nav.modelid"}
                {case value="1"}<!--文章模型-->
                <li><a href="{:url('article/index',['id' => $nav.id])}" target="main"><i class="articleCat"></i><em>{$nav.name}</em></a></li>
                <!--二级栏目-->
                {if condition="isset($nav.children)"}
                {volist name="nav['children']" id="snav"}
                <li><a href="{:url('article/index',['id' => $snav.id])}" target="main"><i class="article"></i><em>-- {$snav.name}</em></a></li>
                {/volist}
                {/if}
                {/case}
                {case value="2"}<!--单页模型-->
                <li><a href="{:url('page/edit',['id' => $nav.id])}" target="main"><i class="article"></i><em>{$nav.name}</em></a></li>
                <!--二级栏目-->
                {if condition="isset($nav.children)"}
                {volist name="nav['children']" id="snav"}
                <li><a href="{$snav.id}" target="main"><i class="article"></i><em>-- {$snav.name}</em></a></li>
                {/volist}
                {/if}
                {/case}
                {case value="3"}<!--产品模型-->
                <li><a href="{:url('product/index',['id' => $nav.id])}" target="main"><i class="productCat"></i><em>{$nav.name}</em></a></li>
                <!--二级栏目-->
                {if condition="isset($nav.children)"}
                {volist name="nav['children']" id="snav"}
                <li><a href="{:url('product/index',['id' => $snav.id])}" target="main"><i class="productCat"></i><em>-- {$snav.name}</em></a></li>
                {/volist}
                {/if}
                {/case}
                {case value="4"}
                <li><a href="{$nav.id}"><i class="productCat" target="main"></i><em>{$nav.name}</em></a></li>
                <!--二级栏目-->
                {if condition="isset($nav.children)"}
                {volist name="nav['children']" id="snav"}
                <li><a href="{$snav.id}" target="main"><i class="article"></i><em>-- {$snav.name}</em></a></li>
                {/volist}
                {/if}
                {/case}
                {/switch}
                {/volist}
            </ul>
            <!--<ul>
                <li><a href="article_category.html"><i class="articleCat"></i><em>文章分类</em></a></li>
                <li><a href="article.html"><i class="article"></i><em>文章列表</em></a></li>
            </ul>-->
            <ul class="bot">
                <!--<li><a href="backup.html" target="main"><i class="backup"></i><em>数据备份</em></a></li>
                <li><a href="mobile.html" target="main"><i class="mobile"></i><em>手机版</em></a></li>
                <li><a href="theme.html" target="main"><i class="theme"></i><em>设置模板</em></a></li>-->
                <li><a href="{:url('admin/index')}" target="main"><i class="manager"></i><em>网站管理员</em></a></li>
                <li><a href="{:url('log/index')}" target="main"><i class="managerLog"></i><em>操作记录</em></a></li>
                <li><a href="{:url('article/copy')}" target="main"><i class="page"></i><em>转载文章</em></a></li>
            </ul>
        </div>
    </div>
    <div class="right"> <!-- 当前位置 -->
        <iframe id="main" name="main" class="rightContent" frameborder="0" scrolling="yes" src="{:url('main/index')}" ></iframe>
    </div>
</body>
</html>
