{include file="public/header" /}
{css href="__PUBLIC__/css/public.css" /}
<script type="text/javascript">
    var cache = "{:url('index/clear')}";
    var logout = "{:url('login/logout')}";
    
    //无刷新重载栏目
    var reload_category = function (){
        var cate_html = '';
        $.get("{:url('common/reloadCategory')}",function(data){
            for(var k in data){
                var nav = data[k];
                switch(nav.modelid){
                    case 0:
                        var url = nav.url;
                        var cls = 'articleCat';
                        break;
                    case 1:
                        var url = "{:url('article/index')}";
                        var cls = 'articleCat';
                        break;
                    case 2:
                        var url = "{:url('page/edit')}";
                        var cls = 'articleCat';
                        break;
                    case 3:
                    case 4:
                        var url = "{:url('product/index')}";
                        var cls = 'productCat';
                        break;
                    default :
                        var url = "{:url('comment/index')}";
                        var cls = 'announcement';
                }
                //外链判断
                if (nav.type == 1){
                    cate_html += '<li><a href="'+ url +'" target="_blank"><i class="nav"></i><em>'+ nav.name +'</em></a></li>';
                }else{
                  var furl = url + '?id=' + nav.id;
                  cate_html += '<li><a href="'+ furl +'" target="main"><i class="'+ cls +'"></i><em>'+ nav.name +'</em></a></li>';
                }
                //遍历子栏目
                if (typeof(nav.children) != 'undefined'){
                    for (var ck in nav.children){
                        var snav = nav.children[ck];
                        var surl = url + '?id=' + snav.id;
                        cate_html += '<li><a href="'+ surl +'" target="main"><i class="'+ cls +'"></i><em>&nbsp;&nbsp;├&nbsp;&nbsp;'+ snav.name +'</em></a></li>';
                    }
                }
            }
            $('#second-nav').html(cate_html);
        },'json');
        
    }
    reload_category();
</script>
<body style="height: 100%;overflow: hidden;background-color: #EEEEEE;">
    <div class="head">
        <div id="head">
            <div class="logo"><a target="main" style="color: #fff;font-size: 18px;line-height: 40px;margin-left: 40px;"><i>NONECMS</i></a></div>
            <div class="nav">
                <ul>
                    <li class="M"><a href="JavaScript:void(0);" class="topAdd">新建</a>
                        <div class="drop mTopad"><a href="{:url('product/add')}" target="main">商品</a> <a href="{:url('article/add')}" target="main">文章</a> <a href="{:url('nav/add')}" target="main">自定义导航</a> <!--<a href="../show.html">首页幻灯</a>--> <a href="{:url('page/add')}" target="main">单页面</a> <a href="{:url('admin/add')}" target="main">管理员</a> <a href="#"></a> </div>
                    </li>
                    <li><a href="{$web_site}" target="_blank">查看站点</a></li>
                    <li><a id="clear-cache" href="javascript:void(0);">清除缓存</a></li>
                    <li><a href="http://www.5none.com" target="_blank">帮助</a></li>
                    <li class="noRight"><a href="{:url('nav/add')}" target="main"> +</a></li>
                </ul>
                <ul class="navRight">
                    <li class="M noLeft"><a href="JavaScript:void(0);">您好，{$username}</a>
                        <div class="drop mUser">
                            <a href="{:url('admin/edit',['id' => $userid])}" target="main">编辑我的个人资料</a>
                            <a href="{:url('admin/add')}" target="main">添加账户</a>
                        </div>
                    </li>
                    <li class="noRight" id="logout"><a href="JavaScript:void(0);">退出</a></li>
                </ul>
            </div>
        </div>
    </div><!-- dcHead 结束 -->
    <!--包含公共模版-->
    <iframe src=""></iframe>
    <div class="left">
        <div id="menu">
            <ul class="top">
                <li><a href="{:url('main/index')}" target="main"><i class="home"></i><em>管理首页</em></a></li>
            </ul>
            <ul>
                <li><a href="{:url('index/system')}" target="main"><i class="system" ></i><em>系统设置</em></a></li>
                <li><a href="{:url('nav/index')}" target="main"><i class="nav"></i><em>自定义导航栏</em></a></li>
                <li><a href="{:url('banner/index')}" target="main"><i class="show" ></i><em>幻灯广告</em></a></li>
                <li><a href="{:url('page/index')}" target="main"><i class="page"></i><em>单页面管理</em></a></li>
            </ul>
            <ul>
                <li class="nav-manage top-nav"><a><i class="nav-nav"></i><em>栏目管理</em><span class="arrow"></span></a></li>
            </ul>
            <ul class="second-nav" id="second-nav">
                
            </ul>
            
            <!-- <ul>
                <li><a href="article_category.html"><i class="articleCat"></i><em>文章分类</em></a></li>
                <li><a href="article.html"><i class="article"></i><em>文章列表</em></a></li>
            </ul> -->
            <ul class="bot">
                <!--<li><a href="backup.html" target="main"><i class="backup"></i><em>数据备份</em></a></li>
                <li><a href="mobile.html" target="main"><i class="mobile"></i><em>手机版</em></a></li>
                <li><a href="theme.html" target="main"><i class="theme"></i><em>设置模板</em></a></li>-->
                <li><a href="{:url('admin/index')}" target="main"><i class="manager"></i><em>网站管理员</em></a></li>
                <li><a href="{:url('flink/index')}" target="main"><i class="flink"></i><em>友情链接</em></a></li>
                <li><a href="{:url('flink/annindex')}" target="main"><i class=""></i><em>公告管理</em></a></li>
                <li><a href="{:url('comment/index')}" target="main"><i class="announcement"></i><em>留言管理</em></a></li>
                <li><a href="{:url('log/index')}" target="main"><i class="managerLog"></i><em>操作记录</em></a></li>
                <li><a href="{:url('article/copy')}" target="main"><i class="page"></i><em>转载文章</em></a></li>
            </ul>

        </div>
    </div>
    <div class="right"> <!-- 当前位置 -->
        <iframe id="main" name="main" class="rightContent" frameborder="0" scrolling="yes" src="{:url('main/index')}" ></iframe>
    </div>
</body>
<script type="text/javascript">
    $('.top-nav').click(function(){
        $('.second-nav').toggle(100);
        $('.arrow').toggleClass('active');
    })
</script>
</html>
