<!DOCTYPE html>
<html >
<head>
<meta charset="UTF-8">
<title>登录</title>
	{css href="__PUBLIC__/css/login.css"}
	{js href="__PUBLIC__/js/jquery.min.js,__PUBLIC__/js/wang.js,__COMMON__/js/common.js" /}
</head>

<body>
<div class="login">
	<h1>Login</h1>
	<form>
		<input type="text" name="username" placeholder="用户名" required="required" />
		<input type="password" name="password" placeholder="密码" required="required" />
		<input type="text" name="captcha" value="" placeholder="验证码" required="required" />
		<div class="captcha">{:captcha_img()}</div>
	</form>
	<button type="button" class="btn btn-primary btn-block btn-large" id="login-submit">登录</button>
</div>
</body>
<script>
	var login = "{:url('admin/login/login')}";
	$(".captcha").click(function(){
		$("input[name='captcha']").val('').focus();
		$(this).html('{:captcha_img()}');
	});
</script>
</html>
