{load href="__PUBLIC__/js/kindeditor/themes/default/default.css,__PUBLIC__/js/kindeditor/plugins/code/prettify.css" /}
{load href="__PUBLIC__/js/kindeditor/kindeditor.js,__PUBLIC__/js/kindeditor/lang/zh_CN.js,__PUBLIC__/js/kindeditor/plugins/code/code.js,__PUBLIC__/js/kindeditor/plugins/code/prettify.js" /}

<script>
    KindEditor.ready(function (K) {
        var editor1 = K.create('textarea[name="content"]', {
            cssPath: '__PUBLIC__/js/kindeditor/plugins/code/prettify.css',
            uploadJson: '{:url("main/uploadEditor")}',
            fileManagerJson: '',
            allowFileManager: true,
            newlineTag      : 'p',
            afterCreate: function () {
                var self = this;
                K.ctrl(document, 13, function () {
                    self.sync();
                    K('form[name=example]')[0].submit();
                });
                K.ctrl(self.edit.doc, 13, function () {
                    self.sync();
                    K('form[name=example]')[0].submit();
                });
            }
        });
        prettyPrint();
    });
</script>
<!-- /KindEditor -->
<textarea id="content" name="content" style="width:780px;height:400px;"
          class="textArea">[content]</textarea>