<!DOCTYPE html>
<html>
<!--头部文件-->
{include file="public/header" /}

<body>
    <div class="fire_right">        
       <div id="urHere">管理中心<b>></b><strong>角色管理</strong></div>
        <div class="mainfff">
            <form class=" role_add">
                {:token()}
            <ul>
                <li><span><small>*</small>角色：</span><input type="text" name="name" maxlength="10"></li>
                <li><span>备注：</span><textarea name="remark" class="roleinput_all" maxlength="255"></textarea></li>
            </ul>
            <div class="role_table">
                <dl>
                    <dt>权限管理</dt>
                    <dd>权限分配细则</dd>
                </dl>
                {volist name="powers" id="val"}
                <dl>
                    <dt><p><i><b><input type="checkbox" name="power" value="{$val.id}" class="ipt-hide">
                        <label value="{$val.id}" class="checkboxdd"><em>{$val.name}</em></label></b></i></p></dt>
                    <dd>
                        <p>
                            <i>
                                {if condition="!empty($val.children)"}
                                {volist name="$val.children" id="children"}
                                <b><input type="checkbox" name="power" value="{$children.id}" class="ipt-hide">
                                    <label value="{$children.id}" class="checkboxdd"><em>{$children.name}</em></label></b>
                                {/volist}{/if}
                            </i>
                        </p>
                    </dd>
                </dl>
                {/volist}
            </div>
            <div class="submit_btn">
                <ol>
                    <li><a href="javascript:;" id="id_a_confirm">确定</a></li>
                    <li><a href="javascript:;" class="bac_aaa">取消</a></li>
                </ol>
            </div>
            </form>
    </div>

    <script>
        $(function(){

                $(".role_table dl dt p i b .checkboxdd").click(function(){
                //alert(1)
                $(this).toggleClass("cur");
                if ($(this).hasClass("cur")) {
                    $(this).parent().parent().parent().parent().siblings("dd").find("p i b .checkboxdd").addClass("cur");
                }else{
                    $(this).parent().parent().parent().parent().siblings("dd").find("p i b .checkboxdd").removeClass("cur");
                };
            });
            $(".role_table dl dd p i b .checkboxdd").click(function(){
                $(this).toggleClass("cur");         
                $(this).each(function(){
                    if ($(this).parent().parent().find(".cur").length>=1) {
                        $(this).parent().parent().parent().parent().siblings("dt").find("p i b .checkboxdd").addClass("cur");
                    }else{
                        $(this).parent().parent().parent().parent().siblings("dt").find("p i b .checkboxdd").removeClass("cur");
                    };
                })
            });


            $(".role_table dl dt").each(function() {
                $(this).height($(this).siblings().height());
            });
            $('#id_a_confirm').one('click', confirm);
            $('.bac_aaa').on('click', close);

            $(".role_table dl dt label").click(function() {
                var dd = $(this).parent().parent().parent().parent().next();
                var ed = $(this).siblings('input').attr('checked');
                if (dd.is('dd')) {
                    if (ed) {
                        dd.find('input').each(function() {
                            if (!$(this).attr('checked')) {
                                $(this).siblings('label').click();
                            }
                        });
                    } else {
                        dd.find('input').each(function() {
                            if ($(this).attr('checked')) {
                                $(this).siblings('label').click();
                            }
                        });
                    }
                }
            });

            $(".role_table dl dd label").click(function() {
                var dt = $(this).parent().parent().parent().parent().prev();
                var ed = $(this).siblings('input').attr('checked');
                if (dt.is('dt')) {
                    if (ed) {
                        dt.find('input').attr('checked', 'checked');
                        dt.find('label').addClass('cur');
                    }
                }
            });
        });

        function close() {
            history.back();
        }

        function confirm() {
            var dat = $('form').serializeArray();
                dat = serializeObject(dat);
            if (!dat.name) {
                $('#id_a_confirm').one('click', confirm);
                layer.msg('角色名称未填写！', {time: 2000});
            } else {
                dat.power = '';
                $('.checkboxdd').each(function() {
                    if ($(this).attr('class') && $(this).attr('class').indexOf('cur') > 0)
                        dat.power += (dat.power ? ',' : '') + $(this).attr('value');
                });
                var url = '{:url("role/add")}';
                $.post(url, dat, function(_res) {
                    if (_res.status == 1) {
                        layer.msg('添加成功，正在跳转...', {time: 2000}, function() {
                            window.location.href = '{:url("role/index")}';
                        });
                    } else {
                        layer.msg(_res.msg, {time: 2000});
                    }
                    $('#id_a_confirm').one('click', confirm);
                }, 'json');
            }
        }
    </script>
</body>
</html>
