{include file="Public/header" /}
<!--/header-->
<div class="header">  
	 <div class="container">
		  <div class="logo">
			  <a href="index.html"><img src="__PUBLIC__/images/logo.jpg" title="" /></a>
		  </div>
			 <!---start-top-nav---->
			 <div class="top-menu">
				 <div class="search">
					 <form>
					 <input type="text" placeholder="" required="">
					 <input type="submit" value=""/>
					 </form>
				 </div>
				  <span class="menu"> </span> 
				   <ul>
						<li><a href="index.html">HOME</a></li>						
						<li class="active"><a href="about.html">ABOUT</a></li>	
						<li><a href="contact.html">CONTACT</a></li>						
						<div class="clearfix"> </div>
				 </ul>
			 </div>
			 <div class="clearfix"></div>
					<script>
					$("span.menu").click(function(){
					$(".top-menu ul").slideToggle("slow" , function(){
					});
					});
					</script>
				<!---//End-top-nav---->					
	 </div>
</div>
<!--/header-->
<div class="about-content">
	 <div class="container">
		 <h2>Something About Me and Blogging</h2>
		 <div class="about-section">
			 <div class="about-grid">
				 <h3>WHY I STARTED THIS BLOG?</h3>
				 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
				 It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
				 versions of Lorem Ipsum.</p>
				 <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages 
				 and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
			 </div>
			 <div class="about-grid2">
				 <h3>WHY YOU SHOULD READ THIS BLOG?</h3>
				 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
				 It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
				 versions of Lorem Ipsum.</p>	
				 <ul>
					 <li><a href="#">Always free from repetition</a></li>
					 <li><a href="#">Vestibulum rhoncus nibh quis dui fermentum iaculis.</a></li>
					 <li><a href="#">The standard chunk of Lorem Ipsum</a></li>
					 <li><a href="#">In consequat dolor in lorem egestas ultrices.</a></li>
					 <li><a href="#">Ultrices rhoncus nibh quis dui.</a></li>
				 </ul>	
			 </div>
			 <div class="who-iam">
				 <h3>WHO THE IAM?</h3>
				 <div class="man-info">
					 <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
				     <h4>Some facts about me.</h4>  
					 <li>Nullam at turpis a orci pretium pharetra.</li>
					 <li>Curabitur tincidunt purus mollis facilisis placerat.</li>
					 <li>Mauris a nulla ac est tincidunt interdum.</li>
					 <li>Pellentesque vel enim nec urna imperdiet mollis.</li>
					 <li>Integer interdum risus et scelerisque volutpat.</li>
				 </div>
				 <div class="man-pic">
				 <img src="__PUBLIC__/images/man.jpg" alt=""/>
				 </div>
				 <div class="clearfix"></div>
			 </div>			 
		  </div>		 
	  </div>
</div>
<!--footer-->
{include file="Public/footer" /}


